/* This controls the whole page and sets the box-sizing to border-box so the grid works. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* The body has a max width of 1100px so the poster does not grow, its is then set to margin 0px, auto so it stays in place when the site is strechted */

body {
  max-width: 1100px;
  background: rgb(223, 223, 223);
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px auto;
  width: 100%;
  
}

/* The header takes on the property grid and is a container for each div element */

header{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
margin-top: 50px;
background: rgb(0, 0, 0);
height: 300px;

}

/* This places the text boxes into the right place in the grid */

.information_text_1 {
  grid-column: 1 ;
}

.information_text_2 {
  grid-column: 2 ;
}

.information_text_3 {
  grid-column: 4;
}

.information_text_4 {
  padding: 20px;
  font-size: 30px;
  grid-column: 1 / 4;
  grid-row: 2;
}


/* This section controls the grid for the boxes*/

section {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
    
  }

/* This section controls the boxes and where they strech over the grid */

.box1 {
height: 200px;
grid-column: span 1;
grid-row: 1 / 8;
background: rgb(30, 192, 233);
}

.box2 {
height: 200px;
grid-column: 2 / 5;
grid-row: 1 / 6;
background:rgb(241, 241, 241);

}

.box3 {
height: 500px;
grid-column: span 1;
grid-row: 1 / 8;
background: rgb(30, 192, 233);

}

.box4 {
  height: 500px;
  grid-column: span 2;
  grid-row: 1 / 8;
  background: rgb(0, 0, 0);
  }
  
.box5 {
    height: 500px;
    grid-column: span 2;
    grid-row: 1 / 8;
    background:rgb(241, 241, 241);
    }


.box6 {
  height: 200px;
  grid-column: span 3;
  grid-row: 1 / 8;
  background:rgb(30, 192, 233);

      }

.box7 {
  height: 200px;
  grid-column: span 3;
  grid-row: 1 / 8;
  background: rgb(241, 241, 241);
      
            }
      


      